<!DOCTYPE html>

<html>

    <head>
        <title>Accueil</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <link rel='stylesheet' href='/stylesheets/mainNaton.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/animate.min.css' />
        <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.min.css' />
    </head>

    <body class="main-bg">
        <header class="flaot-none align-text-center text-center my-3">
            <div class="inner">
                <h3 class="title">NOM DU SITE</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/profils">Profils</a>
                    <a class="nav-link" href="/crime">Les crimes</a>
                    <% if(sess.username != undefined) {%>
                        <a class="nav-link" href="/profils">Profil</a>
                    <%} else {%>
                        <a class="nav-link" href="/connexion">Connexion</a>
                    <%}%>
                </nav>
            </div>
        </header>
        <video class="video-fluid z-depth-1" autoplay loop controls muted>
          <source src="/vid/sujet.mp4" type="video/mp4" />
        </video>


        <div class="row">
            <div class="col ml-5">
                <img src="/img/sasuke2.png" class="rounded-circle bigBubble" alt="sasuke">
            </div>
                <div class="">
                    <div class="row margin-t mr-5">
                        <img src="/img/sasuke2.png" class="rounded-circle littleBubble" alt="sasuke">
                    </div>
                    <div class="row margin-t">
                        <img src="/img/sasuke2.png" class="rounded-circle littleBubble" alt="sasuke">
                    </div>
                    <div class="row margin-t">
                        <img src="/img/sasuke2.png" class="rounded-circle littleBubble" alt="sasuke">
                    </div>
                </div>
            <div class="col">
                <div class="container-content text-l">
                    <h3 class="text-whitesmoke">Entreprise Les P'tites mains</h3>
                    <label class="text-whitesmoke">Salut à tous c'est nous</label>
                </div>
                <div class="container-content text-l">
                    <h3 class="text-whitesmoke">Équipe</h3>
                    <label class="text-whitesmoke">Les beaux gosses Arthur, Jérôme, Manu et Naton</label>
                </div>
                <div class="container-content text-l">
                    <h3 class="text-whitesmoke">Objectif</h3>
                    <label class="text-whitesmoke">On est plutôt des gens sympas, et on trouve qu'être méchant c'est pas très très gentil</label>
                </div>
            </div>
        </div>
    </body>

</html>
