<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="css/bootstrap.css" rel="stylesheet">
	    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="css/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="css/main.css" rel="stylesheet">

  	</head>

	<body class="text-center fade-in" >

		<div id="agency" class="from-inline my-5 py-5 bg-light" >

			<img class="rounded-circle shadow w-20" src="images/weNeedYou.png" >

			<div class="form-inline m-4 w-80">
				<img class="rounded-circle w-20 shadow" src="images/weNeedYou.png"/>
				<div class="align-text-top text-left w-70 ml-5">
		        	<h3>Heading</h3>
		        	<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	      		</div>
	      	</div>

			<div class="form-inline m-4 w-80">
				<img class="rounded-circle w-20 shadow" src="images/weNeedYou.png"/>
				<div class="align-text-top text-left w-70 ml-5">
		        	<h3>Heading</h3>
		        	<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	      		</div>
	      	</div>

			<div class="form-inline m-4 w-80">
				<img class="rounded-circle w-20 shadow" src="images/weNeedYou.png"/>
				<div class="align-text-top text-left w-70 ml-5">
		        	<h3>Heading</h3>
		        	<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	      		</div>
	      	</div>


		</div>






		<div id="weNeedYou" class="my-5 py-5" >
			<p class="text-center w-100">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec tempor mi, et pellentesque nisl. Mauris justo est, vestibulum et faucibus id, efficitur in neque. Morbi pulvinar, ex eget mattis tincidunt, tortor massa dictum lorem, ac posuere odio libero at libero. Phasellus et euismod arcu. Aenean ultricies maximus lorem sed bibendum. Fusce vitae imperdiet libero, quis auctor neque. 
			</p>
			<div class="form-inline align-top align-text-top">
				<p class="text-right w-30" >
					Sed ac elementum elit, sed gravida eros. Nam faucibus augue consequat dolor mollis congue. Aenean convallis gravida tortor, nec pellentesque magna porttitor sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse rhoncus ante nec enim egestas ultrices. Quisque venenatis sollicitudin orci nec laoreet. Cras at convallis sapien, at rutrum sapien.
				</p>
				<div id="weNeedYouBtn" class="img-fluid w-40">
					<img class="w-90 shadow rounded-image " src="images/weNeedYou.png">
				</div>
				<p class="text-left w-30">
					Quisque sed ligula varius, pellentesque urna eget, volutpat nibh. Aenean vitae massa faucibus, ullamcorper nisi eget, sodales elit. Vestibulum tempus velit et tellus accumsan aliquet. Donec in luctus nibh. Integer pulvinar ligula at neque venenatis, ut tincidunt nisi fringilla. Sed tincidunt scelerisque risus, sit amet mattis sem tincidunt vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
			</div>
			<p>
				Vivamus tempus erat in orci varius placerat. Mauris convallis interdum scelerisque. Etiam interdum nec tellus blandit luctus. Aliquam condimentum bibendum lectus vitae facilisis. Suspendisse potenti. Integer dapibus pharetra euismod. Aliquam auctor felis sed orci commodo cursus. Aenean et accumsan magna, et porta felis. Vivamus tincidunt tellus eget semper hendrerit. Sed sollicitudin odio vitae dui vehicula, ac rhoncus tortor varius. Suspendisse rhoncus eleifend lacus.
			</p>

			<button class="btn btn-danger rounded-25 text-center">Join Us</button>
		</div>

		<footer class="container text-center my-1 text-muted ">			
			<!-- Copyright -->
			Les p'tites mains © 2020
		</footer>
	</body>
	<!--<script type="text/javascript" src="js/bootstrap.js"></script>-->
</html>