<!DOCTYPE html>

<link href="main.css" rel="stylesheet">
<html>

    <head>
        <title>Connexion</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/animate.min.css' />
        <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.min.css' />

    </head>

    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div class="mb-4">
                    <h1 class="logo-badge text-whitesmoke"><img src="/img/smile.png" alt="smile" width="120" height="120"></h1>
                </div>
                <div class="container-content">
                    <form class="margin-t">
                        <div class="form-group mb-4">
                            <input type="text" class="form-control" placeholder="Username" required="">
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" placeholder="*****" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b">Connexion</button>
        
                        <div class="col-auto">
                            <div class="mb-1">
                                <a class="text-darkred" href="#"><small>Mot de passe oublié ?</small></a>
                            </div>

                            <div class="mb-3">
                                <a class="text-darkred" href="#"><small>Inscription</small></a>
                            </div>
                        </div>
                    </form>
                    <p class="margin-t text-whitesmoke"><small> Les p'tites mains &copy; 2020</small> </p>
                </div>
            </div>
    </body>

</html>