<!DOCTYPE html>
<html>

    <head>
        <title>Connexion</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/animate.min.css' />
        <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.min.css' />
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <link rel='stylesheet' href='/stylesheets/mainNaton.css' />

    </head>

    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div class="mb-4">
                    <h1 class="logo-badge text-whitesmoke"><img src="images/smile_bad.png" alt="smile" width="120" height="120"></h1>
                </div>
                <div class="container-content">
                            <div class="mb-1">
                                <p class="text-light" href="#"> Désolé, nous rencontrons une erreur.. </p>
                            </div>
                </div>
                <footer class="text-center my-1 text-muted ">
                <!-- Copyright -->
                Les p'tites mains © 2020
                </footer>
            </div>
    </body>

</html>
