<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="stylesheets/main.css" rel="stylesheet">
	    <link href="stylesheets/mainNaton.css" rel="stylesheet">


  	</head>

	<body class="text-center fade-in">

	   	<video class="video-fluid z-depth-1" autoplay loop controls muted>
          <source src="/vid/sujet.mp4" type="video/mp4" />
        </video>

		<header class="flaot-none align-text-center text-center my-5">
		    <div class="inner">
		        	<h3 class="title">NOM DU SITE</h3>
		    	    <nav class="nav nav-masthead justify-content-center">
		            <a class="nav-link active" href="/">Acceuil</a>
		            <a class="nav-link" href="/profils">Profils</a>
		            <a class="nav-link" href="/threats">Menaces</a>
			        <a class="nav-link" href="/connexion">Connexion / Inscription</a>
		        </nav>
		    </div>
	   	</header>

		<div id="weNeedYou" class="my-5 text-light" >
			<p class="text-center w-100">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec tempor mi, et pellentesque nisl. Mauris justo est, vestibulum et faucibus id, efficitur in neque. Morbi pulvinar, ex eget mattis tincidunt, tortor massa dictum lorem, ac posuere odio libero at libero. Phasellus et euismod arcu. Aenean ultricies maximus lorem sed bibendum. Fusce vitae imperdiet libero, quis auctor neque. 
			</p>
			<div class="form-inline align-top align-text-top ">
				<p class="text-right w-40" >
					Sed ac elementum elit, sed gravida eros. Nam faucibus augue consequat dolor mollis congue. Aenean convallis gravida tortor, nec pellentesque magna porttitor sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse rhoncus ante nec enim egestas ultrices. Quisque venenatis sollicitudin orci nec laoreet. Cras at convallis sapien, at rutrum sapien.
				</p>
				<div id="weNeedYouBtn" class="img-fluid w-20">
					<img class="w-90 shadow rounded-image " src="images/weNeedYou.png">
				</div>
				<p class="text-left w-40">
					Quisque sed ligula varius, pellentesque urna eget, volutpat nibh. Aenean vitae massa faucibus, ullamcorper nisi eget, sodales elit. Vestibulum tempus velit et tellus accumsan aliquet. Donec in luctus nibh. Integer pulvinar ligula at neque venenatis, ut tincidunt nisi fringilla. Sed tincidunt scelerisque risus, sit amet mattis sem tincidunt vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
			</div>
			<p>
				Vivamus tempus erat in orci varius placerat. Mauris convallis interdum scelerisque. Etiam interdum nec tellus blandit luctus. Aliquam condimentum bibendum lectus vitae facilisis. Suspendisse potenti. Integer dapibus pharetra euismod. Aliquam auctor felis sed orci commodo cursus. Aenean et accumsan magna, et porta felis. Vivamus tincidunt tellus eget semper hendrerit. Sed sollicitudin odio vitae dui vehicula, ac rhoncus tortor varius. Suspendisse rhoncus eleifend lacus.
			</p>

			<button class="btn btn-danger rounded-25 text-center">Join Us</button>
		</div>


		<footer class="text-center my-1 text-muted ">
			<!-- Copyright -->
			Les p'tites mains © 2020
		</footer>
	</body>
	<script type="text/javascript" src="scripts/bootstrap.js"></script>
</html>
