<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="stylesheets/main.css" rel="stylesheet">
	    <link href="stylesheets/mainNaton.css" rel="stylesheet">


  	</head>

	<body class="text-center fade-in">

		<header class="flaot-none align-text-center text-center my-5">
		    <div class="inner">
		        	<h3 class="title">Tatar Heroes</h3>
		    	    <nav class="nav nav-masthead justify-content-center">
		            <a class="nav-link active" href="/">Accueil</a>
		            <a class="nav-link" href="/profils">Profils</a>
					<a class="nav-link" href="/crime">Reporter un crime</a>
					<% if(sess.username != undefined) {%>
						<a class="nav-link" href="/threats">Menaces</a>
					<%} else {%>
						<a class="nav-link" href="/connexion">Connexion / Inscription</a>
					<%}%>
		        </nav>
		    </div>
	   	</header>

	   	<video class="video-fluid z-depth-1" autoplay loop controls muted>
          <source src="/images/video.mp4" type="video/mp4" />
        </video>

		<div id="weNeedYou" class="my-5 text-light margin-l-big margin-r-big" >
			<h3 class="text-center">Origine :</h3>
			<p class="text-center w-100">				
				Nous sommes les personnes qui travaillent dans l'ombre pour garder un équilibre de l'ordre mondial.<br>
				Nous sommes les p'tites mains, les quatre gardiens de la société, répartis sur chaque coin de la planète.<br>
				Nous veillons à la protection de notre monde, et nous agissons en conséquences.<br>
			</p>
			<div class="form-inline align-top align-text-top">
				<p class="text-right w-40" >
					Nos objectifs sont les suivants:<br>
					Le nombre de crimes augmente sans cesse, et nous avons décidé de riposter.<br>
					Nous recrutons activement des héros émergents, quelque soit leur profil.<br>
					Le plus important : sauver les gens avec le sourire, pour faire scintiller une lueur d'espoir dans l'obscurité et venir à bout de cette crise.<br>
				</p>
				<div id="weNeedYouBtn" class="img-fluid w-20">
					<img class="w-90 shadow rounded-image " src="images/weNeedYou.png">
				</div>
				<p class="text-left w-40">					
					L'efficacité de notre organisation Tatar Heroes n'est plus à prouver.<br>
					Le taux de criminalités dans les grandes métropoles a déjà réduit de plus de 25% ces 3 derniers mois.<br>
					Certains des plus grands héros nous ont déjà rejoints, tels que Sasuke Uchiwa, Gandhi, Phillippe Etchebest ou Tyraël.<br>
				</p>
			</div>
			<h3 class="text-center">Méthodes :</h3>
			<p>
				Nous recensons les individus les plus puissants du monde capables de nous aider à vaincre la menace.<br>
				Pour cela, nous leur offrons une plateforme esthétique et pratique permettant de rechercher des héros ou des pouvoirs particuliers.<br>
				Nous donnons également la possibilité de signaler un crime ou un méchant en donnant sa position et son heure d'apparition.<br>
			</p>

			<button class="btn btn-danger rounded-25 text-center" onclick="window.location.href='/Inscription'">Join Us</button>
		</div>


		<footer class="text-center my-1 text-muted ">
			<!-- Copyright -->
			Les p'tites mains © 2020
		</footer>
	</body>
	<script type="text/javascript" src="scripts/bootstrap.js"></script>
</html>
