<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="stylesheets/main.css" rel="stylesheet">

  	</head>

	<body class="text-center fade-in">
		<header class="flaot-none align-text-center text-center my-3">
		    <div class="inner">
		        	<h3 class="title">NOM DU SITE</h3>
		    	    <nav class="nav nav-masthead justify-content-center">
		            <a class="nav-link active" href="/">Home</a>
		            <a class="nav-link" href="/profils">Profils</a>
			        <a class="nav-link" href="/inscription">Sign in</a>
		        </nav>
		    </div>
	   	</header>



		<footer class="text-center my-1 text-muted ">
			<!-- Copyright -->
			Les p'tites mains © 2020
		</footer>
	</body>
	<script type="text/javascript" src="scripts/bootstrap.js"></script>
</html>
