<!DOCTYPE html>

<html>

    <head>
        <title>Inscription</title>
        <link rel='stylesheet' href='/stylesheets/mainNaton.css' />
        <link rel='stylesheet' href='/stylesheets/animate.min.css' />
        <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.min.css' />

    </head>

    <body class="main-bg">
        <div class="info-container text-c animated flipInX">
                <div class="mb-4">
                    <h1 class="logo-badge text-whitesmoke"><img src="/img/smile.png" alt="smile" width="120" height="120"></h1>
                </div>
                <div class="container-content text-l">
                    <form class="margin-t">
                        <div class="row">
                            <div class="col">
                                <label class="text-whitesmoke text-left">Nom d'utilisateur :</label>
                                <input type="text" class="form-control" placeholder="Nom d'utilisateur" required="">
                            </div>
                            <div class="col">
                                <label class="text-whitesmoke ">Mot de passe :</label>
                                <input type="password" class="form-control" placeholder="*******" required="">
                            </div>
                        </div>
                        <div class="row margin-t">
                            <div class="col">
                                <label class="text-whitesmoke ">Nom :</label>
                                <input type="text" class="form-control" placeholder="Nom" required="">
                            </div>
                            <div class="col">
                                <label class="text-whitesmoke ">Prénom :</label>
                                <input type="text" class="form-control" placeholder="Prénom" required="">
                            </div>
                        </div>
                        <div class="row margin-t">
                            <div class="col">
                                <label class="text-whitesmoke ">Date de naissance :</label>
                                <input type="text" class="form-control" placeholder="JJ/MM/AAAA" required="">
                            </div>
                            <div class="col">
                                <label class="text-whitesmoke">Genre :</label>
                                <select class="custom-select  form-control"  id="inlineFormCustomSelectPref">
                                    <option selected>-</option>
                                    <option value="1">Femme</option>
                                    <option value="2">Homme</option>
                                    <option value="3">Non-binaire</option>
                                    <option value="4">Homme transsexuel</option>
                                    <option value="5">Femme transsexuelle</option>
                                    <option value="6">Homme transgenre</option>
                                    <option value="7">Femme transgenre</option>
                                    <option value="8">Furry</option>
                                    <option value="9">Autre</option>
                                </select>
                            </div>
                        </div>
                        <div class="row margin-t">
                            <div class="col">
                                <label class="text-whitesmoke ">Adresse :</label>
                                <input type="text" class="form-control" placeholder="Pays, Ville, Adresse" required="">
                            </div>
                        </div>
                        <div class="row margin-t">
                            <div class="col">
                                <label class="text-whitesmoke ">Complément d'adresse :</label>
                                <input type="text" class="form-control" placeholder="Bâtiment, Porte..." required="">
                            </div>
                        </div>
                        <div class="row margin-t">
                            <div class="col">
                                <label class="text-whitesmoke ">Pouvoir :</label>
                                <input type="text" class="form-control" placeholder="Vol, Invisibilité, Grande force..." required="">
                            </div>
                        </div>
                        <div class="row margin-t">
                            <div class="col">
                                <label class="text-whitesmoke ">Nombre de vies sauvées :</label>
                                <input type="text" class="form-control" placeholder="0" required="">
                            </div>
                            <div class="col">
                                <label class="text-whitesmoke ">Nombre de criminels arrêtés :</label>
                                <input type="text" class="form-control" placeholder="0" required="">
                            </div>
                        </div>

                        <div class="row margin-t-lg justify-content-md-center">                            
                            <div class="col-md-auto">
                                <button type="submit" class="form-button">Inscription</button>
                            </div>
                        </div>
                    </form>
                    <p class="text-c margin-t-lg text-whitesmoke"><small> Les p'tites mains &copy; 2020</small> </p>
                </div>
            </div>
    </body>

</html>