<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="stylesheets/main.css" rel="stylesheet">
  	</head>

	<body class="text-center fade-in h-100" style="overflow: hidden;">
		<div id="background-flow" class="noselect" ></div>

		<div class="col-md-12 search-block">
			<header class="flaot-none align-text-center text-center my-3">
		        <div class="inner">
		          <h3 class="title">Profil des heros</h3>
		          <nav class="nav nav-masthead justify-content-center">
		            <a class="nav-link" href="/">Accueil</a>
		            <a class="nav-link active" href="/profils">Profils</a>
					  <a class="nav-link" href="/crime">Reporter un crime</a>
					  <% if(sess.username != undefined) {%>
						  <a class="nav-link" href="/threats">Menaces</a>
					  <%} else {%>
						  <a class="nav-link" href="/connexion">Conexion / Inscription</a>
					  <%}%>
		          </nav>
		        </div>
	      	</header>

	      	<form class="mx-5" action="/profils" method="post">
			<table class="w-80 m-auto">
				<tr>
					<td class="pl-5">
					  <label for="inputQuestion" class="sr-only ">Question</label>
					  <input type="text" id="inputQuestion" class="form-control rounded-25" name="request" placeholder="Search for a someone..." required="true" autofocus="">
					</td>
					<td class="w-10 p-1 text-left">
						<button id="inputBtnQuestion" class="btn btn-danger rounded-25 mx-2" type="submit" action="test()"><img  src="images/loupe.svg"  alt="" width="24" height="24" title="search"></button>
					</td>
				</tr>
				<tr>
					<div>
						<div  class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="choiceNom" name="choiceMode" value="1">
							<label class="mx-2 text-light text-shadow" for="choiceNom"> Nom </label>
						</div>
						<div  class="form-check form-check-inline">
							<input class="form-check-input" id="choicePrenom" type="radio" name="choiceMode" value="2">
							<label class="mx-2 text-light text-shadow"  for="choicePrenom"> Prenom </label>
						</div>
						<div  class="form-check form-check-inline">
							<input class="form-check-input" id="choicePrenom" type="radio" name="choiceMode" value="3">
							<label class="mx-2 text-light text-shadow"  for="choicePouvoir"> Pouvoir </label>
						</div>
					</div>
				</tr>
			</table>

			</form>


	    </div>

		<footer class="container fixed-bottom text-center mt-1 text-muted ">
			<!-- Copyright -->Les p'tites mains © 2020
		</footer>
	</body>
	<script type="text/javascript" src="scripts/profil.js"></script>
	<script type="text/javascript">
		profils_list = [];

		let users = <%- JSON.stringify(user) %>
		console.log("oui:");
		console.log(users);
		console.log(users.length);
		for (let i = 0; i < users.length; i++) {
			var p = new Profil(users[i].name,users[i].surname,users[i].age, users[i].gender, users[i].address, users[i].power, users[i].saved_lives, users[i].arrested_baddies);
			profils_list.push(p);
			console.log(p);
			var newProfil = document.createElement('div');
			newProfil.setAttribute('class',' m-1 d-inline profil');
			newProfil.innerHTML = '<div class="d-inline" onclick="showDetail('+i+');"><img class="rounded-image w-10" src="images/profil.png"></div>';
			<% if (move == 0) { %>
				document.getElementById('background-flow').style.animation = "none";
			<% } %>
			document.getElementById('background-flow').appendChild(newProfil);
		}


			function showDetail(i){
				var detail_view = document.createElement('div');
				detail_view.id = "profil_detail"
				detail_view.setAttribute('class',' bg-light text-dark search-block p-5 w-80 l-10 text-left');
				detail_view.style.bottom = "30%";
				detail_view.innerHTML = '\
										<div class="row margin-t">\
				                            <div class="col">\
				                                <label class=" ">Nom : '+ profils_list[i].lastname +'</label>\
				                            </div>\
				                            <div class="col">\
				                                <label class="">Prénom : '+ profils_list[i].firstname +'</label>\
				                            </div>\
				                        </div>\
				                        <div class="row margin-t">\
				                            <div class="col">\
				                                <label class="">Date de naissance : '+ profils_list[i].birth +'</label>\
				                            </div>\
				                            <div class="col">\
				                                <label class="">Genre : '+ profils_list[i].genre +'</label>\
				                            </div>\
				                        </div>\
				                        <div class="row margin-t">\
				                            <div class="col">\
				                                <label class="">Adresse : '+ profils_list[i].address +'</label>\
				                            </div>\
				                        </div>\
				                        <div class="row margin-t">\
				                            <div class="col">\
				                                <label class="">Pouvoir : '+ profils_list[i].power +'</label>\
				                            </div>\
				                        </div>\
				                        <div class="row margin-t">\
				                            <div class="col">\
				                                <label class=" ">Nombre de vies sauvées : '+ profils_list[i].nbLifeSaved +'</label>\
				                            </div>\
				                            <div class="col">\
				                                <label class="">Nombre de criminels arrêtés : '+ profils_list[i].nbBadGuys +'</label>\
				                            </div>\
				                        </div></br>\
				                        	<button class="row btn btn-danger rounded-25 m-auto" type="button" onclick="closeDetail();">X</button>';


				document.body.appendChild(detail_view);
			}



		function closeDetail(){
			var profilDetail = document.getElementById('profil_detail');
			document.body.removeChild(profilDetail);
		}
	</script>
</html>
