<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="stylesheets/main.css" rel="stylesheet">
  	</head>

	<body class="text-center fade-in h-100" style="overflow: hidden;">
		<div id="background-flow" class="noselect" ></div>

		<div class="col-md-12 search-block"> 
			<header class="flaot-none align-text-center text-center my-3">
		        <div class="inner">
		          <img class="w-20" src="images/profil.png">
		          <h3 class="my-1 text-light">NOM PRENOM</h3>
		          <nav class="nav nav-masthead justify-content-center">
		            <a class="nav-link" href="/">Accueil</a>
		            <a class="nav-link" href="/profils">Profils</a>
		            <a class="nav-link active" href="/threat">Menaces</a>
			        <a class="nav-link" href="/connexion">Connexion / Inscription</a>
		          </nav>
		        </div>
	      	</header>

	      	<form class="mx-5" action="">
			<table class="w-80 m-auto">
				<tr>
					<td class="pl-5">
					  <label for="inputQuestion" class="sr-only ">Question</label>
					  <input type="text" id="inputQuestion" class="form-control rounded-25" placeholder="Search for a loadThreats..." required="true" autofocus="">
					</td>
					<td class="w-10 p-1 text-left">
						<button id="inputBtnQuestion" class="btn btn-danger rounded-25 mx-2" type="submit" action="test()"><img  src="images/loupe.svg"  alt="" width="24" height="24" title="search"></button>
					</td>
				</tr>
			</table>
		  
			</form>


	    </div>

		<footer class="container fixed-bottom text-center mt-1 text-muted ">
			<!-- Copyright -->Les p'tites mains © 2020
		</footer>
	</body>
	<script type="text/javascript" src="scripts/threat.js"></script>
	<script type="text/javascript" src="scripts/profil.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	<script type="text/javascript">loadThreats()</script>
</html>