<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Les p\'tites mains">
	    <title></title>


	    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap-reboot.min.css" rel="stylesheet">
	    <link href="stylesheets/main.css" rel="stylesheet">
  	</head>

	<body class="text-center fade-in h-100" style="overflow: hidden;">

		<div >
			<header class="row align-text-center text-center m-auto">
		        <div class="inner w-20 m-auto">
		          <img class="w-50" src="images/profil.png">
		          <h3 class="my-1 text-light"><%= sess.username %></h3>
		        </div>
	      	</header>
		      	<form action="">
				<table class="w-70 m-auto">
					<tr>
						<nav class="nav nav-masthead justify-content-center">
			            <a class="nav-link" href="/">Accueil</a>
			            <a class="nav-link" href="/profils">Profils</a>
						  <a class="nav-link" href="/crime">Repoter un crime</a>
						  <% if(sess.username != undefined) {%>
							  <a class="nav-link active" href="/threats">Menaces</a>
						  <%} else {%>
							  <a class="nav-link" href="/connexion">Connexion / Inscription </a>
						  <%}%>
			          </nav>
					</tr>
					<tr>
						<td class="pl-5">
						  <label for="inputQuestion" class="sr-only ">Question</label>
						  <input type="text" id="inputQuestion" class="form-control rounded-25" placeholder="Rechercher une menaces..." required="true" autofocus="">
						</td>
						<td class="w-10 p-1 text-left">
							<button id="inputBtnQuestion" class="btn btn-danger rounded-25 mx-2" type="submit" action="test()"><img  src="images/loupe.svg"  alt="" width="24" height="24" title="search"></button>
						</td>
					</tr>
					<tr>

						<div>
							<div  class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="choiceHoraire" name="choiceMode" value="Horaire">
								<label class="mx-2 text-light text-shadow" for="choiceNom"> Horaire </label>
							</div>
							<div  class="form-check form-check-inline">
								<input class="form-check-input" id="choiceType" type="radio" name="choiceMode" value="Type">
								<label class="mx-2 text-light text-shadow"  for="choicePrenom"> Type </label>
							</div>
							<div  class="form-check form-check-inline">
								<input class="form-check-input" id="choiceId" type="radio" name="choiceMode" value="Identité">
								<label class="mx-2 text-light text-shadow"  for="choicePouvoir"> Identité </label>
							</div>
						</div>
					</tr>
				</table>

				</form>

	    </div>

		<div id="background-flow" class="noselect " style="animation: none;" ></div>
		<footer class="container fixed-bottom text-center mt-1 text-muted ">
			<!-- Copyright -->Les p'tites mains © 2020
		</footer>
	</body>
	<script type="text/javascript" src="scripts/threat.js"></script>
	<script type="text/javascript" src="scripts/profil.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	<script type="text/javascript">
	profils_list = [];

	let threats = <%- JSON.stringify(threats) %>
	for (let i = 0; i < threats.length; i++) {
		let t = new Threat(threats[i].latitude, threats[i].longitude, threats[i].time, threats[i].crime, threats[i].identity);
	 	profils_list.push(t);

		var newProfil = document.createElement('div');
		newProfil.id = i;

		newProfil.setAttribute('class',' m-1 d-inline profil');
		newProfil.innerHTML = '<div class="d-inline" onclick="showDetail('+i+');"><img class="rounded-image w-10" src="images/threat.png"></div>';

		var flow = document.getElementById('background-flow');
		flow.style.overflow = "auto";
		flow.appendChild(newProfil);
	}

	function showDetail(i){
		var detail_view = document.createElement('div');
		detail_view.id = "profil_detail";
		detail_view.setAttribute('class',' bg-light search-block p-5 w-80 l-10 text-left');
		detail_view.style.bottom = "30%";
		detail_view.innerHTML = '\
								<div class="row margin-t">\
		                            <div class="col">\
		                                <label class="text-whitesmoke ">Latitude : '+ profils_list[i].latitude +'</label>\
		                            </div>\
		                            <div class="col">\
		                                <label class="text-whitesmoke ">Longitude : '+ profils_list[i].longitude +'</label>\
		                            </div>\
		                        </div>\
		                        <div class="row margin-t">\
		                            <div class="col">\
		                                <label class="text-whitesmoke ">Horaire '+ profils_list[i].time +'</label>\
		                            </div>\
		                            <div class="col">\
		                                <label class="text-whitesmoke">Type de crime : '+ profils_list[i].crime +'</label>\
		                            </div>\
		                        </div>\
		                        <div class="row margin-t">\
		                            <div class="col">\
		                                <label class="text-whitesmoke ">Identité : '+ profils_list[i].identity +'</label>\
		                            </div>\
		                        </div>\
		                        <div class="row">\
		                        	<button class="row btn btn-danger rounded-25 m-auto" type="button" onclick="closeDetail();">X</button>\
		                        	<button class="row btn btn-success rounded-25 m-auto" type="button" onclick="closeDetail(); dismissBlock('+i+')">Menace éliminé !</button>\
		                        </div>';


		document.body.appendChild(detail_view);
	}
	</script>
</html>
