html,
body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0c0c0c;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.rounded-25{
  border-radius: 30px
}

.w-10{
  width: 10%
}
.w-20{
  width: 20%
}
.w-30{
  width: 30%
}
.w-40{
  width: 40%
}
.w-60{
  width: 60%
}
.w-70{
  width: 70%
}
.w-80{
  width: 80%
}
.w-90{
  width: 90%
}

.search-block{
  position: fixed;
  bottom: 45%;
  z-index: 2;
  /* left: 50%; */
}

.l-10{
  left: 10%;
}

.rounded-image{
  border-radius: 50%
}

.nav-link{
  color: gray;
  text-shadow: black 1px 0 5px;
  text-decoration: none;
}

.active{
  color: white;
  text-decoration: none;
}

.nav-link:hover{
  color: lightgray;
}

.title{
  color: rgba(150,20,20,1);
  font-size: 400%;
  font-family: Ebrima;
  font-weight: bold;

  text-shadow: black 1px 0 5px;
}

.profil{
  opacity: 0.4;
}

.profil:hover {
  opacity: 1;
}

#background-flow{
  animation-name: movement;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes movement {
  0%  {margin-top: 0px;}
  50% {margin-top: -200px;}
  100%  {margin-top: 0px;}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* Fade IN and OUT annimation */

.fade-in {
  animation : fadeInAnimation 1.5s;
}

.fade-out{
  animation : fadeOutAnimation 1s;
}

@keyframes fadeInAnimation{
  from { opacity : 0; }
  to { opacity: 1; }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Text Align */
.text-c {
    text-align: center;
}
.text-l {
    text-align: left;
}
.text-r {
    text-align: right
}
.text-j {
    text-align: justify;
}

/* Text Color */
.text-whitesmoke {
    color: whitesmoke
}
.text-darkyellow {
    color: rgba(255, 235, 59, 0.432)
}

.text-darkred {
    color: rgba(252, 44, 44, 1);
}

/* Lines */

.line-b {
    border-bottom: 1px solid #FFEB3B !important;
}

/* Buttons */
.button {
    border-radius: 3px;
}
.form-button {
    background-color: rgba(252, 44, 44, 0.4);
    border-color: rgba(252, 44, 44, 0.4);
    color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    background-color: rgba(252, 44, 44, 0.6);
    border-color: rgba(252, 44, 44, 0.6);
    color: #e6e6e6;
}
.button-l {
    width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
    margin: 15px;
}
.margin-g-sm {
    margin: 10px;
}
.margin-g-md {
    margin: 20px;
}
.margin-g-lg {
    margin: 30px;
}

.margin-l {
    margin-left: 15px;
}
.margin-l-sm {
    margin-left: 10px;
}
.margin-l-md {
    margin-left: 20px;
}
.margin-l-lg {
    margin-left: 30px;
}

.margin-r {
    margin-right: 15px;
}
.margin-r-sm {
    margin-right: 10px;
}
.margin-r-md {
    margin-right: 20px;
}
.margin-r-lg {
    margin-right: 30px;
}

.margin-t {
    margin-top: 15px;
}
.margin-t-sm {
    margin-top: 10px;
}
.margin-t-md {
    margin-top: 20px;
}
.margin-t-lg {
    margin-top: 30px;
}

.margin-b {
    margin-bottom: 15px;
}
.margin-b-sm {
    margin-bottom: 10px;
}
.margin-b-md {
    margin-bottom: 20px;
}
.margin-b-lg {
    margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control,
.border-line {
    background-color: #5f5f5f;
    background-image: none;
    border: 1px solid #f42c2c;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus,
.border-line:focus {
    border-color: #f42c2c;
    background-color: #616161;
    color: #e6e6e6;
}
.form-control,
.form-control:focus {
    box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
    background-color: #3a3a3aa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #f42c2c;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

/* Backgrounds */

.main-bg {

    background: #424242;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient( #424242, #212121) fixed;
}

/* Login & Register Pages*/

.login-container {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;
}
.info-container {
    width: 40%;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;
}
.login.login-container {
    width: 300px;
}
.wrapper.login-container {
    margin-top: 140px;
}
.logo-badge {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.video-fluid {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
}
.adresse {
    width: 90%;
}
